body {
    background-color: rgb(15, 15, 15);
}
.heading1{
    color:white;
    text-align:center;
    position:relative;
    top:0px;
    font-size:50px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
input.search{
    height:50px;
    width:500px;
    border-radius:20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    position:relative;
    top:-30px;
    left:423px;  
}
.search{
    border:none;
    padding:20px 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size:25px;
   }
.searchbtn{
    position:relative;
    left:370px;
    top:-25px;
    border-radius:30px;
    
}
.games {
    height:fit-content;
    width:fit-content;
    display: flex;
    flex-wrap: wrap; 
    }
    .games li {
        flex: 1; 
        display: flex; 
        flex-direction: column; 
        align-items: center; 
        list-style: none; 
        padding: 20px;
        border-radius: 12px; 
        text-align: center; 
        background-color:rgba(85, 77, 77, 0.4);
    }
    .games li img {
        height: 100%; 
        border-radius: 12px; 
    }
    .games li h3 {
        color: #35B997;
        font-size: 1.8em; 
        font-family: "Oswald", sans-serif;
        inline-size: 250px;
        overflow-wrap: break-word
    }
    .games li h2{
        color: #35B997; 
        font-size: 1.8em; 
        font-family: "Oswald", sans-serif;
      
    }
    .games li h4{
        color: #35B997; 
        font-size: 1.8em;
        font-family: "Oswald", sans-serif;
    }
    .games li a{
        font-size: 1.8em; 
        font-family: "Oswald", sans-serif;
    }
